<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Películas con la palabra "Lord"
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let pelicula of peliculas" [routerLink]="['/home',pelicula.id]">
      <ion-card-content>
        <h1><strong>{{pelicula.title}}</strong> </h1>
        <h2><strong>Fecha de salida: {{pelicula.release_date}} </strong></h2>
        <p>Descripción: {{pelicula.overview}}</p>
        <p>Idioma: {{pelicula.original_language}} </p>
      </ion-card-content>
    </ion-item>
  </ion-list>
</ion-content>
